In [112]:
#import the required library
import numpy as np
import pandas as pd

#read csv file contain KL data
df_athens = pd.read_csv('Athens.csv')
df_athens.head()

        District          Area  PostCode
0  North Suburbs         EKALI     14578
1  North Suburbs  NEA ERITHREA     14671
2  North Suburbs         PEFKI     15121
3  North Suburbs       MAROUSI     15122
4  North Suburbs       MELISIA     15127

In [113]:
#examine data
print('Athens dataframe has {} districts and {} areas.'.format(
        len(df_athens['District'].unique()),
        df_athens.shape[0]
    )
)

#grouping data to find District with highest number of area
df_athens.groupby('District').count()

Athens dataframe has 6 districts and 50 areas.

                       Area  PostCode
District
Center                    4         4
East Suburbs             10        10
North Suburbs            11        11
South Suburbs            11        11
South Suburbs Suburbs     2         2
West Suburbs             12        12

In [131]:
#read and load JB data
df_geo = pd.read_csv('postcode_lat_long_gr.csv')
df_geo.head()

      tk        lat        lon
0  10021  37.974511  23.733071
1  10431  37.984438  23.728117
2  10432  37.987244  23.726373
3  10433  37.978381  23.780513
4  10434  37.993469  23.727507

In [210]:
#read and load Thessaloniki data
df_thessaloniki = pd.read_csv('Thessaloniki.csv')
df_thessaloniki.head()

             District                Area  PostCode
0  South-east Suburbs            HARILAOU     54248
1  South-east Suburbs           HARILAOU2     54249
2  South-east Suburbs         KATO_TOUMBA     54250
3  South-east Suburbs  KOSTADINOUPOLITIKA     54351
4  South-east Suburbs          ANO_TOUMBA     54352

In [211]:
#examine
print('Thessaloniki dataframe has {} districts and {} areas.'.format(
        len(df_thessaloniki['District'].unique()),
        df_thessaloniki.shape[0]
    )
)

#group by district
df_thessaloniki.groupby('District').count()

Thessaloniki dataframe has 4 districts and 29 areas.

                    Area  PostCode
District
CENTER                 3         3
North Suburbs          2         2
South-east Suburbs    14        14
West Suburbs          10        10

In [117]:
athens_full = pd.merge(df_athens, df_geo, how='left',
        left_on='PostCode', right_on='tk', validate="1:1")
athens_full.drop(labels='tk', axis=1, inplace=True)
athens_full.head()

        District          Area  PostCode        lat        lon
0  North Suburbs         EKALI     14578  38.100877  23.835080
1  North Suburbs  NEA ERITHREA     14671  38.092649  23.820048
2  North Suburbs         PEFKI     15121  38.052949  23.790560
3  North Suburbs       MAROUSI     15122  38.054956  23.807655
4  North Suburbs       MELISIA     15127  38.057229  23.833602

In [ ]:
df_athens = df_athens.drop_duplicates().reset_index(drop=True)

In [212]:
df_thessaloniki = df_thessaloniki.drop_duplicates().reset_index(drop=True)

In [213]:
df_thessaloniki

              District                   Area  PostCode
0   South-east Suburbs               HARILAOU     54248
1   South-east Suburbs              HARILAOU2     54249
2   South-east Suburbs            KATO_TOUMBA     54250
3   South-east Suburbs     KOSTADINOUPOLITIKA     54351
4   South-east Suburbs             ANO_TOUMBA     54352
5   South-east Suburbs                 TOUMBA     54453
6   South-east Suburbs                TOUMBA2     54454
7   South-east Suburbs           NEA REDESTOS     54500
8               CENTER           40_EKKLISIES     54621
9               CENTER                 CENTER     54622
10              CENTER                CENTER2     54626
11  South-east Suburbs               ANALIPSI     54638
12  South-east Suburbs                ANTHEON     54655
13  South-east Suburbs              KALAMARIA     55131
14  South-east Suburbs               PANORAMA     55236
15  South-east Suburbs              TRIANDRIA     55337
16       North Suburbs           AGIOS_PAVLOS     55438
17       North Suburbs                  PILEA     55535
18        West Suburbs             AMPELOKIPI     56121
19        West Suburbs               MENEMENI     56122
20        West Suburbs                EVOSMOS     56224
21        West Suburbs  ELEUTHERIO - KORDELIO     56334
22        West Suburbs            STAVROUPOLI     56429
23        West Suburbs           STAVROUPOLI2     56431
24        West Suburbs                POLIHNI     56532
25        West Suburbs                 SIKIES     56625
26        West Suburbs                NEAPOLI     56727
27  South-east Suburbs                 THERMI     57001
28        West Suburbs                  SOHOS     57002

In [32]:
df_athens

                 District               Area  PostCode
0           North Suburbs              EKALI     14578
1           North Suburbs       NEA ERITHREA     14671
2           North Suburbs              PEFKI     15121
3           North Suburbs            MAROUSI     15122
4           North Suburbs            MELISIA     15127
5           North Suburbs           HALANDRI     15231
6           North Suburbs           VRILISIA     15235
7           North Suburbs            PENTELI     15236
8           North Suburbs           FILOTHEI     15237
9           North Suburbs  HALANDRI - PATIMA     15238
10          North Suburbs     AGIA PARASKEVI     15341
11           East Suburbs            GERAKAS     15344
12           East Suburbs            STAVROS     15345
13           East Suburbs           ANTHOUSA     15349
14           East Suburbs             PALINI     15351
15           East Suburbs         GLIKA NERA     15354
16           East Suburbs            PSIHIKO     15451
17           East Suburbs           HOLARGOS     15561
18           East Suburbs            PAPAGOU     15669
19                 Center           ZOGRAFOU     15771
20                 Center          KESARIANI     16121
21                 Center            VIRONAS     16231
22          South Suburbs          ILIOUPOLI     16341
23          South Suburbs        ARGIROUPOLI     16450
24          South Suburbs            GLIFADA     16561
25          South Suburbs        VOULIAGMENI     16671
26  South Suburbs Suburbs               VARI     16672
27          South Suburbs              VOULA     16673
28          South Suburbs            GLIFADA     16674
29          South Suburbs           ELLINIKO     16677
30          South Suburbs         NEA SMYRNI     17121
31           West Suburbs              DAFNI     17234
32                 Center             IMITOS     17235
33           West Suburbs    AGIOS DIMITRIOS     17341
34  South Suburbs Suburbs             ALIMOS     17455
35          South Suburbs       PALEO FALIRO     17561
36          South Suburbs          KALLITHEA     17671
37          South Suburbs             TAVROS     17778
38           West Suburbs         KORIDALLOS     18120
39           West Suburbs             RENTIS     18233
40           West Suburbs           MOSCHATO     18344
41           West Suburbs              NIKEA     18450
42           West Suburbs            PIRAEUS     18531
43           West Suburbs             PIREAS     18532
44           West Suburbs         DRAPETSONA     18648
45           West Suburbs          KERATSINI     18755
46           West Suburbs             PERAMA     18863
47           East Suburbs             KOROPI     19400
48           East Suburbs             LAVRIO     19500
49           West Suburbs             MANDRA     19600

In [150]:
#slice the original dataframe and create a new dataframe of the North Suburbs
athens_north = athens_full[athens_full['District'] == 'North Suburbs'].reset_index(drop=True)

In [182]:
df_thessaloniki

              District                   Area  PostCode
0   South-east Suburbs               HARILAOU     54248
1   South-east Suburbs              HARILAOU2     54249
2   South-east Suburbs            KATO TOUMBA     54250
3   South-east Suburbs     KOSTADINOUPOLITIKA     54351
4   South-east Suburbs            ANO  TOUMBA     54352
5   South-east Suburbs                 TOUMBA     54453
6   South-east Suburbs                TOUMBA2     54454
7   South-east Suburbs           NEA REDESTOS     54500
8               CENTER           40 EKKLISIES     54621
9               CENTER                 CENTER     54622
10              CENTER                CENTER2     54626
11  South-east Suburbs               ANALIPSI     54638
12  South-east Suburbs                ANTHEON     54655
13  South-east Suburbs              KALAMARIA     55131
14  South-east Suburbs               PANORAMA     55236
15  South-east Suburbs              TRIANDRIA     55337
16       North Suburbs           AGIOS PAVLOS     55438
17       North Suburbs                  PILEA     55535
18        West Suburbs             AMPELOKIPI     56121
19        West Suburbs               MENEMENI     56122
20        West Suburbs                EVOSMOS     56224
21        West Suburbs  ELEUTHERIO - KORDELIO     56334
22        West Suburbs            STAVROUPOLI     56429
23        West Suburbs           STAVROUPOLI2     56431
24        West Suburbs                POLIHNI     56532
25        West Suburbs                 SIKIES     56625
26        West Suburbs                NEAPOLI     56727
27  South-east Suburbs                 THERMI     57001
28        West Suburbs                  SOHOS     57002

In [120]:
athens_full.head()

        District          Area  PostCode        lat        lon
0  North Suburbs         EKALI     14578  38.100877  23.835080
1  North Suburbs  NEA ERITHREA     14671  38.092649  23.820048
2  North Suburbs         PEFKI     15121  38.052949  23.790560
3  North Suburbs       MAROUSI     15122  38.054956  23.807655
4  North Suburbs       MELISIA     15127  38.057229  23.833602

Index(['District', 'Area', 'PostCode', 'lat', 'lon'], dtype='object')

In [151]:
athens_north.head()

        District          Area  PostCode   Latitude  Longitude
0  North Suburbs         EKALI     14578  38.100877  23.835080
1  North Suburbs  NEA ERITHREA     14671  38.092649  23.820048
2  North Suburbs         PEFKI     15121  38.052949  23.790560
3  North Suburbs       MAROUSI     15122  38.054956  23.807655
4  North Suburbs       MELISIA     15127  38.057229  23.833602

In [144]:
athens_full.rename(columns={'lat': 'Latitude'}, inplace=True)

In [145]:
athens_full.rename(columns={'lon': 'Longitude'}, inplace=True)

In [146]:
athens_full.head()

        District          Area  PostCode   Latitude  Longitude
0  North Suburbs         EKALI     14578  38.100877  23.835080
1  North Suburbs  NEA ERITHREA     14671  38.092649  23.820048
2  North Suburbs         PEFKI     15121  38.052949  23.790560
3  North Suburbs       MAROUSI     15122  38.054956  23.807655
4  North Suburbs       MELISIA     15127  38.057229  23.833602

In [141]:
athens_north

         District               Area  PostCode        lat        lon
0   North Suburbs              EKALI     14578  38.100877  23.835080
1   North Suburbs       NEA ERITHREA     14671  38.092649  23.820048
2   North Suburbs              PEFKI     15121  38.052949  23.790560
3   North Suburbs            MAROUSI     15122  38.054956  23.807655
4   North Suburbs            MELISIA     15127  38.057229  23.833602
5   North Suburbs           HALANDRI     15231  38.013759  23.785407
6   North Suburbs           VRILISIA     15235  38.032978  23.831904
7   North Suburbs            PENTELI     15236  38.060609  23.859091
8   North Suburbs           FILOTHEI     15237  38.025099  23.779145
9   North Suburbs  HALANDRI - PATIMA     15238  38.035469  23.851123
10  North Suburbs     AGIA PARASKEVI     15341  38.009044  23.820034

In [214]:
thessaloniki_full = pd.merge(df_thessaloniki, df_geo, how='left',
        left_on='PostCode', right_on='tk', validate="1:1")
thessaloniki_full.drop(labels='tk', axis=1, inplace=True)
thessaloniki_full.head()

             District                Area  PostCode        lat        lon
0  South-east Suburbs            HARILAOU     54248  39.677124  22.580364
1  South-east Suburbs           HARILAOU2     54249  40.602356  22.965986
2  South-east Suburbs         KATO_TOUMBA     54250  40.602126  22.972760
3  South-east Suburbs  KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4  South-east Suburbs          ANO_TOUMBA     54352  40.612080  22.983126

In [215]:
thessaloniki_full.rename(columns={'lat': 'Latitude'}, inplace=True)

In [216]:
thessaloniki_full.rename(columns={'lon': 'Longitude'}, inplace=True)

In [ ]:
Using Foursquare API to get venues at surounding area of both North Suburbs, Athens and North Suburbs, Thessaloniki.

In [217]:
thessaloniki_full.head()

             District                Area  PostCode   Latitude  Longitude
0  South-east Suburbs            HARILAOU     54248  39.677124  22.580364
1  South-east Suburbs           HARILAOU2     54249  40.602356  22.965986
2  South-east Suburbs         KATO_TOUMBA     54250  40.602126  22.972760
3  South-east Suburbs  KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4  South-east Suburbs          ANO_TOUMBA     54352  40.612080  22.983126

In [237]:
thessaloniki_full

              District                   Area  PostCode   Latitude  Longitude
0   South-east Suburbs               HARILAOU     54248  39.677124  22.580364
1   South-east Suburbs              HARILAOU2     54249  40.602356  22.965986
2   South-east Suburbs            KATO_TOUMBA     54250  40.602126  22.972760
3   South-east Suburbs     KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4   South-east Suburbs             ANO_TOUMBA     54352  40.612080  22.983126
5   South-east Suburbs                 TOUMBA     54453  40.613632  22.967977
6   South-east Suburbs                TOUMBA2     54454  40.609871  22.974729
7   South-east Suburbs           NEA REDESTOS     54500  40.814428  22.868323
8               CENTER           40_EKKLISIES     54621  40.628504  22.950710
9               CENTER                 CENTER     54622  40.631801  22.947196
10              CENTER                CENTER2     54626  40.637273  22.935301
11  South-east Suburbs               ANALIPSI     54638  40.620537  22.963934
12  South-east Suburbs                ANTHEON     54655  40.594229  22.952319
13  South-east Suburbs              KALAMARIA     55131  40.584964  22.946094
14  South-east Suburbs               PANORAMA     55236  40.588541  23.027929
15  South-east Suburbs              TRIANDRIA     55337  40.624110  22.973462
16       North Suburbs           AGIOS_PAVLOS     55438  40.638997  22.962256
17       North Suburbs                  PILEA     55535  40.602750  22.989648
18        West Suburbs             AMPELOKIPI     56121  40.655333  22.921503
19        West Suburbs               MENEMENI     56122  40.657488  22.911517
20        West Suburbs                EVOSMOS     56224  40.667036  22.910492
21        West Suburbs  ELEUTHERIO - KORDELIO     56334  40.667525  22.896978
22        West Suburbs            STAVROUPOLI     56429  40.689740  22.954117
23        West Suburbs           STAVROUPOLI2     56431  40.670977  22.927694
24        West Suburbs                POLIHNI     56532  40.659529  22.955619
25        West Suburbs                 SIKIES     56625  40.647828  22.950496
26        West Suburbs                NEAPOLI     56727  40.653718  22.937021
27  South-east Suburbs                 THERMI     57001  40.548520  23.019646
28        West Suburbs                  SOHOS     57002  40.818183  23.356642

In [238]:
#slice the original dataframe and create a new dataframe of the North Suburbs for thessaloniki this time
thessaloniki_ne = thessaloniki_full[thessaloniki_full['District'] == 'West Suburbs'].reset_index(drop=True)

In [239]:
thessaloniki_ne

       District                   Area  PostCode   Latitude  Longitude
0  West Suburbs             AMPELOKIPI     56121  40.655333  22.921503
1  West Suburbs               MENEMENI     56122  40.657488  22.911517
2  West Suburbs                EVOSMOS     56224  40.667036  22.910492
3  West Suburbs  ELEUTHERIO - KORDELIO     56334  40.667525  22.896978
4  West Suburbs            STAVROUPOLI     56429  40.689740  22.954117
5  West Suburbs           STAVROUPOLI2     56431  40.670977  22.927694
6  West Suburbs                POLIHNI     56532  40.659529  22.955619
7  West Suburbs                 SIKIES     56625  40.647828  22.950496
8  West Suburbs                NEAPOLI     56727  40.653718  22.937021
9  West Suburbs                  SOHOS     57002  40.818183  23.356642

In [220]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

#Define Foursquare Credentials and Version
CLIENT_ID = 'HXIG2LVNATWJIMC23OV5TUS5VM3YHHKBUQ3LMPYL0MSPILIU' # your Foursquare ID
CLIENT_SECRET = 'JB23AURUG3ETRK2ZWFB40035Q4OZ53KXYBYVAQNRE5WGMM1M' # your Foursquare Secret
VERSION = '20180605'

#explore the first neighborhood in our dataframe
#Get the neighborhood's latitude and longitude values.
neighborhood_latitude = north.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = north.loc[0, 'Longitude'] # neighborhood longitude value
neighborhood_name = north.loc[0, 'Area'] # neighborhood name

#get the top 100 venues that are in Bukit Bintang within a radius of 500 meters
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)

#Send the GET request and examine the resutls
results = requests.get(url).json()

#borrow the get_category_type function from the Foursquare lab.
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

#clean the json and structure it into a pandas dataframe
venues = results['response']['groups'][0]['items']    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
print('{} venues were returned by Foursquare for North Suburbs, Athens.'.format(nearby_venues.shape[0]))
nearby_venues.head()

2 venues were returned by Foursquare for North Suburbs, Athens.

              name           categories        lat        lng
0  Πλατεία Μουσσών                Plaza  38.102017  23.832907
1       Nike Store  Sporting Goods Shop  38.097062  23.836865

In [240]:
#check how many venues were returned for each area
print('There are {} uniques categories in Thessaloniki.'.format(len(thessaloniki_venues['Venue Category'].unique())))
thessaloniki_venues.groupby('Area').count()

There are 108 uniques categories in Thessaloniki.

,Area Latitude,Area Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Area,,,,,,
ANALIPSI,32,32,32,32,32,32
ANO_TOUMBA,33,33,33,33,33,33
ANTHEON,51,51,51,51,51,51
HARILAOU2,60,60,60,60,60,60
KALAMARIA,35,35,35,35,35,35
KATO_TOUMBA,44,44,44,44,44,44
KOSTADINOUPOLITIKA,29,29,29,29,29,29
PANORAMA,5,5,5,5,5,5
THERMI,25,25,25,25,25,25
TOUMBA,38,38,38,38,38,38
TOUMBA2,48,48,48,48,48,48
TRIANDRIA,14,14,14,14,14,14

In [177]:
thessaloniki_ne

              District                Area  PostCode   Latitude  Longitude
0   South-east Suburbs            HARILAOU     54248  39.677124  22.580364
1   South-east Suburbs            HARILAOU     54249  40.602356  22.965986
2   South-east Suburbs         KATO TOUMBA     54250  40.602126  22.972760
3   South-east Suburbs  KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4   South-east Suburbs         ANO  TOUMBA     54352  40.612080  22.983126
5   South-east Suburbs              TOUMBA     54453  40.613632  22.967977
6   South-east Suburbs              TOUMBA     54454  40.609871  22.974729
7   South-east Suburbs        NEA REDESTOS     54500  40.814428  22.868323
8   South-east Suburbs            ANALIPSI     54638  40.620537  22.963934
9   South-east Suburbs             ANTHEON     54655  40.594229  22.952319
10  South-east Suburbs           KALAMARIA     55131  40.584964  22.946094
11  South-east Suburbs            PANORAMA     55236  40.588541  23.027929
12  South-east Suburbs           TRIANDRIA     55337  40.624110  22.973462
13  South-east Suburbs              THERMI     57001  40.548520  23.019646

In [223]:
#function to repeat the same process to all area
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Area', 
                  'Area Latitude', 
                  'Area Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#run the above function on each neighborhood and create a new dataframe
athens_venues = getNearbyVenues(names=athens_north['Area'],
                                   latitudes=athens_north['Latitude'],
                                   longitudes=athens_north['Longitude']
                                  )

#check the size of the resulting dataframe
print(athens_venues.shape)
athens_venues.head()

EKALI
NEA ERITHREA
PEFKI
MAROUSI
MELISIA
HALANDRI
VRILISIA
PENTELI
FILOTHEI
HALANDRI - PATIMA
AGIA PARASKEVI
(249, 7)

,Area,Area Latitude,Area Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,EKALI,38.100877,23.835080,Πλατεία Μουσσών,38.102017,23.832907,Plaza
1,EKALI,38.100877,23.835080,Nike Store,38.097062,23.836865,Sporting Goods Shop
2,NEA ERITHREA,38.092649,23.820048,Family Project,38.091214,23.819720,Bakery
3,NEA ERITHREA,38.092649,23.820048,Πανερυθραϊκός,38.090214,23.818901,Souvlaki Shop
4,NEA ERITHREA,38.092649,23.820048,Κοράλλι,38.092371,23.820113,Ouzeri

In [241]:
#run the above function on each neighborhood and create a new dataframe
thessaloniki_venues = getNearbyVenues(names=thessaloniki_ne['Area'],
                                   latitudes=thessaloniki_ne['Latitude'],
                                   longitudes=thessaloniki_ne['Longitude']
                                  )

#check the size of the resulting dataframe
print(thessaloniki_venues.shape)
thessaloniki_venues.head()

AMPELOKIPI
MENEMENI
EVOSMOS
ELEUTHERIO - KORDELIO
STAVROUPOLI
STAVROUPOLI2
POLIHNI
SIKIES
NEAPOLI
SOHOS
(174, 7)

,Area,Area Latitude,Area Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,AMPELOKIPI,40.655333,22.921503,Σβούρα Σύγχρονο Καφενείο,40.657093,22.924302,Café
1,AMPELOKIPI,40.655333,22.921503,Oxygen Gym,40.655001,22.918873,Gym / Fitness Center
2,AMPELOKIPI,40.655333,22.921503,Small Cafe,40.653011,22.922634,Café
3,AMPELOKIPI,40.655333,22.921503,Moments,40.652596,22.922496,Café
4,AMPELOKIPI,40.655333,22.921503,Καρβουνιάρικο,40.653368,22.924258,Fast Food Restaurant

In [225]:

#check how many venues were returned for each area
print('There are {} uniques categories in Athens.'.format(len(athens_venues['Venue Category'].unique())))
athens_venues.groupby('Area').count()

There are 93 uniques categories in Athens.

,Area Latitude,Area Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Area,,,,,,
AGIA PARASKEVI,35,35,35,35,35,35
EKALI,2,2,2,2,2,2
FILOTHEI,9,9,9,9,9,9
HALANDRI,42,42,42,42,42,42
HALANDRI - PATIMA,6,6,6,6,6,6
MAROUSI,58,58,58,58,58,58
MELISIA,23,23,23,23,23,23
NEA ERITHREA,20,20,20,20,20,20
PEFKI,15,15,15,15,15,15
PENTELI,20,20,20,20,20,20
VRILISIA,19,19,19,19,19,19

In [226]:
# one hot encoding
athens_onehot = pd.get_dummies(athens_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
athens_onehot['Area'] = athens_venues['Area'] 

# move neighborhood column to the first column
fixed_columns = [athens_onehot.columns[-1]] + list(athens_onehot.columns[:-1])
athens_onehot = athens_onehot[fixed_columns]

#examine the new dataframe size after one hot encoding
print('{} rows were returned after one hot encoding.'.format(athens_onehot.shape[0]))

#group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
athens_grouped = athens_onehot.groupby('Area').mean().reset_index()

#examine the new dataframe size after one hot encoding
print('{} rows were returned after grouping.'.format(athens_grouped.shape[0]))

249 rows were returned after one hot encoding.
11 rows were returned after grouping.

In [227]:
#print each neighborhood along with the top 5 most common venues
num_top_venues = 5

for hood in athens_grouped['Area']:
    print("----"+hood+"----")
    temp = athens_grouped[athens_grouped['Area'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----AGIA PARASKEVI----
            venue  freq
0          Bakery  0.11
1  Clothing Store  0.09
2     Pizza Place  0.06
3             Bar  0.06
4        Pharmacy  0.06


----EKALI----
                 venue  freq
0  Sporting Goods Shop   0.5
1                Plaza   0.5
2   Athletics & Sports   0.0
3           Nail Salon   0.0
4          Pizza Place   0.0


----FILOTHEI----
            venue  freq
0            Park  0.44
1           Plaza  0.22
2  Tennis Stadium  0.11
3     Snack Place  0.11
4         Stadium  0.11


----HALANDRI----
                    venue  freq
0    Gym / Fitness Center  0.10
1                    Café  0.07
2                  Bakery  0.05
3        Basketball Court  0.05
4  Furniture / Home Store  0.05


----HALANDRI - PATIMA----
          venue  freq
0       Dog Run  0.17
1     Racetrack  0.17
2  Cupcake Shop  0.17
3          Park  0.17
4    Steakhouse  0.17


----MAROUSI----
           venue  freq
0           Café  0.14
1         Bakery  0.07
2            Bar  0.07
3  Souvlaki Shop  0.05
4    Coffee Shop  0.05


----MELISIA----
           venue  freq
0  Souvlaki Shop  0.13
1         Bakery  0.09
2           Café  0.09
3    Coffee Shop  0.04
4    Pizza Place  0.04


----NEA ERITHREA----
                  venue  freq
0                   Bar  0.10
1          Dessert Shop  0.10
2    Italian Restaurant  0.05
3  Gym / Fitness Center  0.05
4          Fire Station  0.05


----PEFKI----
                venue  freq
0              Bakery  0.13
1                Café  0.13
2    Greek Restaurant  0.13
3                Park  0.13
4  Athletics & Sports  0.07


----PENTELI----
                     venue  freq
0  Grilled Meat Restaurant  0.10
1         Greek Restaurant  0.10
2                 Pharmacy  0.10
3                    Plaza  0.10
4              Yoga Studio  0.05


----VRILISIA----
               venue  freq
0               Park  0.16
1              Plaza  0.11
2  Convenience Store  0.11
3  Electronics Store  0.05
4           Bus Stop  0.05

In [228]:
#put into a pandas dataframe

#write a function to sort the venues in descending order
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

#create the new dataframe and display the top 10 venues for each neighborhood
num_top_venues = 8

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Area']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
areas_venues_sorted = pd.DataFrame(columns=columns)
areas_venues_sorted['Area'] = athens_grouped['Area']

for ind in np.arange(athens_grouped.shape[0]):
    areas_venues_sorted.iloc[ind, 1:] = return_most_common_venues(athens_grouped.iloc[ind, :], num_top_venues)

areas_venues_sorted.head()

,Area,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,AGIA PARASKEVI,Bakery,Clothing Store,Bar,Pharmacy,Pizza Place,Cosmetics Shop,Café,Mobile Phone Shop
1,EKALI,Plaza,Sporting Goods Shop,Grilled Meat Restaurant,Greek Restaurant,Dog Run,Donut Shop,Electronics Store,Farmers Market
2,FILOTHEI,Park,Plaza,Tennis Stadium,Stadium,Snack Place,French Restaurant,Dog Run,Donut Shop
3,HALANDRI,Gym / Fitness Center,Café,Bakery,Basketball Court,Burger Joint,Mobile Phone Shop,Coffee Shop,Furniture / Home Store
4,HALANDRI - PATIMA,Cupcake Shop,Park,Racetrack,Farmers Market,Steakhouse,Dog Run,Yoga Studio,French Restaurant

In [229]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 3

athens_grouped_clustering = athens_grouped.drop('Area', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(athens_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10] 

#create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
athens_merged = athens_north

# add clustering labels
athens_merged['Cluster Labels'] = kmeans.labels_

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
athens_merged = athens_merged.join(areas_venues_sorted.set_index('Area'), on='Area')

athens_merged.head()

,District,Area,PostCode,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,North Suburbs,EKALI,14578,38.100877,23.835080,0,Plaza,Sporting Goods Shop,Grilled Meat Restaurant,Greek Restaurant,Dog Run,Donut Shop,Electronics Store,Farmers Market
1,North Suburbs,NEA ERITHREA,14671,38.092649,23.820048,1,Dessert Shop,Bar,Nail Salon,Cocktail Bar,Italian Restaurant,Ice Cream Shop,Fire Station,Health & Beauty Service
2,North Suburbs,PEFKI,15121,38.052949,23.790560,2,Greek Restaurant,Bakery,Park,Café,Souvlaki Shop,Gym / Fitness Center,Grilled Meat Restaurant,Pool
3,North Suburbs,MAROUSI,15122,38.054956,23.807655,0,Café,Bakery,Bar,Coffee Shop,Souvlaki Shop,Multiplex,Plaza,Gaming Cafe
4,North Suburbs,MELISIA,15127,38.057229,23.833602,2,Souvlaki Shop,Bakery,Café,Pharmacy,Seafood Restaurant,Grilled Meat Restaurant,Grocery Store,Gym

In [165]:
from geopy.geocoders import Nominatim
import folium

In [166]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

#Finally, let's visualize the resulting clusters
# create map 3.1343385, 101.6863371
bb_clusters = folium.Map(location=[38.03, 23.788], zoom_start=13)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(athens_merged['Latitude'], athens_merged['Longitude'], athens_merged['Area'], athens_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(bb_clusters)
       
bb_clusters

In [ ]:
## Analyze Thessaloniki

In [242]:
# one hot encoding
thessaloniki_onehot = pd.get_dummies(thessaloniki_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
thessaloniki_onehot['Area'] = thessaloniki_venues['Area'] 

# move neighborhood column to the first column
fixed_columns = [thessaloniki_onehot.columns[-1]] + list(thessaloniki_onehot.columns[:-1])
thessaloniki_onehot = thessaloniki_onehot[fixed_columns]

#examine the new dataframe size after one hot encoding
print('{} rows were returned after one hot encoding.'.format(thessaloniki_onehot.shape[0]))

#group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
thessaloniki_grouped = thessaloniki_onehot.groupby('Area').mean().reset_index()

#examine the new dataframe size after one hot encoding
print('{} rows were returned after grouping.'.format(thessaloniki_grouped.shape[0]))

174 rows were returned after one hot encoding.
10 rows were returned after grouping.

In [243]:
#print each neighborhood along with the top 5 most common venues
num_top_venues = 5

for hood in thessaloniki_grouped['Area']:
    print("----"+hood+"----")
    temp = thessaloniki_grouped[thessaloniki_grouped['Area'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----AMPELOKIPI----
                  venue  freq
0                  Café  0.16
1                   Bar  0.09
2  Fast Food Restaurant  0.06
3     Mobile Phone Shop  0.06
4           Supermarket  0.06


----ELEUTHERIO - KORDELIO----
               venue  freq
0        Supermarket  0.18
1               Café  0.18
2  Mobile Phone Shop  0.06
3  Electronics Store  0.06
4    Meze Restaurant  0.06


----EVOSMOS----
                  venue  freq
0                   Bar  0.16
1                  Café  0.11
2           Snack Place  0.09
3       Meze Restaurant  0.07
4  Fast Food Restaurant  0.07


----MENEMENI----
                venue  freq
0                 Pub  0.14
1        Soccer Field  0.14
2               Plaza  0.14
3  Seafood Restaurant  0.14
4         Supermarket  0.14


----NEAPOLI----
               venue  freq
0               Café  0.11
1        Video Store  0.06
2  Mobile Phone Shop  0.06
3             Ouzeri  0.06
4                Gym  0.06


----POLIHNI----
              venue  freq
0         BBQ Joint  0.15
1              Park  0.08
2              Café  0.08
3             Plaza  0.08
4  Basketball Court  0.08


----SIKIES----
            venue  freq
0            Café  0.22
1  Scenic Lookout  0.11
2        Beer Bar  0.11
3      Restaurant  0.11
4             Gym  0.11


----SOHOS----
                venue  freq
0                 Bar  0.50
1                 Pub  0.25
2    Greek Restaurant  0.25
3  Athletics & Sports  0.00
4    Pedestrian Plaza  0.00


----STAVROUPOLI----
              venue  freq
0  Greek Restaurant   0.1
1              Café   0.1
2            Bakery   0.1
3  Basketball Court   0.1
4             Plaza   0.1


----STAVROUPOLI2----
                  venue  freq
0                  Café  0.15
1  Fast Food Restaurant  0.10
2                   Bar  0.10
3               Taverna  0.10
4     Mobile Phone Shop  0.05

In [244]:
#create the new dataframe and display the top 10 venues for each neighborhood
num_top_venues = 8

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Area']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
areas_venues_sorted = pd.DataFrame(columns=columns)
areas_venues_sorted['Area'] = thessaloniki_grouped['Area']

for ind in np.arange(thessaloniki_grouped.shape[0]):
    areas_venues_sorted.iloc[ind, 1:] = return_most_common_venues(thessaloniki_grouped.iloc[ind, :], num_top_venues)

areas_venues_sorted.head()

,Area,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,AMPELOKIPI,Café,Bar,Mobile Phone Shop,Supermarket,Souvlaki Shop,Coffee Shop,Snack Place,Fast Food Restaurant
1,ELEUTHERIO - KORDELIO,Café,Supermarket,Coffee Shop,Fish Taverna,Jewelry Store,Meze Restaurant,Mobile Phone Shop,Electronics Store
2,EVOSMOS,Bar,Café,Snack Place,Meze Restaurant,Fast Food Restaurant,Greek Restaurant,Bakery,Mobile Phone Shop
3,MENEMENI,Pub,Soccer Field,Plaza,Pier,Seafood Restaurant,Café,Supermarket,Fast Food Restaurant
4,NEAPOLI,Café,Video Store,Gym,Electronics Store,Dessert Shop,Men's Store,Meze Restaurant,Mobile Phone Shop

In [205]:
athens_grouped

,Area,Athletics & Sports,Bagel Shop,Bakery,Bar,Basketball Court,Basketball Stadium,Bistro,Bookstore,Boutique,...,Supermarket,Sushi Restaurant,Taverna,Tennis Stadium,Theater,Tsipouro Restaurant,Video Store,Wine Shop,Women's Store,Yoga Studio
0,AGIA PARASKEVI,0.000000,0.00,0.114286,0.057143,0.000000,0.00000,0.028571,0.000000,0.028571,...,0.028571,0.00000,0.028571,0.000000,0.000000,0.000000,0.028571,0.028571,0.028571,0.00000
1,EKALI,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
2,FILOTHEI,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
3,HALANDRI,0.000000,0.00,0.047619,0.000000,0.047619,0.02381,0.000000,0.000000,0.000000,...,0.023810,0.02381,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.02381
4,HALANDRI - PATIMA,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
5,MAROUSI,0.000000,0.00,0.068966,0.068966,0.017241,0.00000,0.000000,0.017241,0.000000,...,0.017241,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
6,MELISIA,0.000000,0.00,0.086957,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.043478,0.00000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.00000
7,NEA ERITHREA,0.000000,0.05,0.050000,0.100000,0.000000,0.00000,0.050000,0.000000,0.000000,...,0.000000,0.05000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.00000
8,PEFKI,0.066667,0.00,0.133333,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.00000
9,PENTELI,0.000000,0.00,0.050000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.050000,0.05000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.05000
10,VRILISIA,0.000000,0.00,0.000000,0.052632,0.000000,0.00000,0.000000,0.052632,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.00000

In [235]:
## K-mean Cluster Thessaloniki

In [236]:
thessaloniki_ne

              District                Area  PostCode   Latitude  Longitude
0   South-east Suburbs            HARILAOU     54248  39.677124  22.580364
1   South-east Suburbs           HARILAOU2     54249  40.602356  22.965986
2   South-east Suburbs         KATO_TOUMBA     54250  40.602126  22.972760
3   South-east Suburbs  KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4   South-east Suburbs          ANO_TOUMBA     54352  40.612080  22.983126
5   South-east Suburbs              TOUMBA     54453  40.613632  22.967977
6   South-east Suburbs             TOUMBA2     54454  40.609871  22.974729
7   South-east Suburbs        NEA REDESTOS     54500  40.814428  22.868323
8   South-east Suburbs            ANALIPSI     54638  40.620537  22.963934
9   South-east Suburbs             ANTHEON     54655  40.594229  22.952319
10  South-east Suburbs           KALAMARIA     55131  40.584964  22.946094
11  South-east Suburbs            PANORAMA     55236  40.588541  23.027929
12  South-east Suburbs           TRIANDRIA     55337  40.624110  22.973462
13  South-east Suburbs              THERMI     57001  40.548520  23.019646

In [245]:
# set number of clusters
from sklearn.cluster import KMeans
kclusters = 3

thessaloniki_grouped_clustering = thessaloniki_grouped.drop('Area', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(thessaloniki_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10] 

#create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
thessaloniki_merged = thessaloniki_ne

# add clustering labels
thessaloniki_merged['Cluster Labels'] = kmeans.labels_

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
thessaloniki_merged = thessaloniki_merged.join(areas_venues_sorted.set_index('Area'), on='Area')

thessaloniki_merged.head() # check the last columns!

,District,Area,PostCode,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,West Suburbs,AMPELOKIPI,56121,40.655333,22.921503,0,Café,Bar,Mobile Phone Shop,Supermarket,Souvlaki Shop,Coffee Shop,Snack Place,Fast Food Restaurant
1,West Suburbs,MENEMENI,56122,40.657488,22.911517,0,Pub,Soccer Field,Plaza,Pier,Seafood Restaurant,Café,Supermarket,Fast Food Restaurant
2,West Suburbs,EVOSMOS,56224,40.667036,22.910492,0,Bar,Café,Snack Place,Meze Restaurant,Fast Food Restaurant,Greek Restaurant,Bakery,Mobile Phone Shop
3,West Suburbs,ELEUTHERIO - KORDELIO,56334,40.667525,22.896978,1,Café,Supermarket,Coffee Shop,Fish Taverna,Jewelry Store,Meze Restaurant,Mobile Phone Shop,Electronics Store
4,West Suburbs,STAVROUPOLI,56429,40.689740,22.954117,0,Gym,Grilled Meat Restaurant,Bakery,Greek Restaurant,Basketball Court,Plaza,Café,Salon / Barbershop

In [246]:
thessaloniki_merged.head()

,District,Area,PostCode,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,West Suburbs,AMPELOKIPI,56121,40.655333,22.921503,0,Café,Bar,Mobile Phone Shop,Supermarket,Souvlaki Shop,Coffee Shop,Snack Place,Fast Food Restaurant
1,West Suburbs,MENEMENI,56122,40.657488,22.911517,0,Pub,Soccer Field,Plaza,Pier,Seafood Restaurant,Café,Supermarket,Fast Food Restaurant
2,West Suburbs,EVOSMOS,56224,40.667036,22.910492,0,Bar,Café,Snack Place,Meze Restaurant,Fast Food Restaurant,Greek Restaurant,Bakery,Mobile Phone Shop
3,West Suburbs,ELEUTHERIO - KORDELIO,56334,40.667525,22.896978,1,Café,Supermarket,Coffee Shop,Fish Taverna,Jewelry Store,Meze Restaurant,Mobile Phone Shop,Electronics Store
4,West Suburbs,STAVROUPOLI,56429,40.689740,22.954117,0,Gym,Grilled Meat Restaurant,Bakery,Greek Restaurant,Basketball Court,Plaza,Café,Salon / Barbershop

TypeError: 'Map' object is not subscriptable

In [248]:
from geopy.geocoders import Nominatim
import folium

In [202]:
thessaloniki_ne

              District                Area  PostCode   Latitude  Longitude
0   South-east Suburbs            HARILAOU     54248  39.677124  22.580364
1   South-east Suburbs           HARILAOU2     54249  40.602356  22.965986
2   South-east Suburbs         KATO TOUMBA     54250  40.602126  22.972760
3   South-east Suburbs  KOSTADINOUPOLITIKA     54351  40.617032  22.974236
4   South-east Suburbs         ANO  TOUMBA     54352  40.612080  22.983126
5   South-east Suburbs              TOUMBA     54453  40.613632  22.967977
6   South-east Suburbs             TOUMBA2     54454  40.609871  22.974729
7   South-east Suburbs        NEA REDESTOS     54500  40.814428  22.868323
8   South-east Suburbs            ANALIPSI     54638  40.620537  22.963934
9   South-east Suburbs             ANTHEON     54655  40.594229  22.952319
10  South-east Suburbs           KALAMARIA     55131  40.584964  22.946094
11  South-east Suburbs            PANORAMA     55236  40.588541  23.027929
12  South-east Suburbs           TRIANDRIA     55337  40.624110  22.973462
13  South-east Suburbs              THERMI     57001  40.548520  23.019646

In [250]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

#Finally, let's visualize the resulting clusters
# create map 3.1343385, 101.6863371
bb_clusters = folium.Map(location=[40.633, 22.933], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(thessaloniki_merged['Latitude'], thessaloniki_merged['Longitude'], thessaloniki_merged['Area'], thessaloniki_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(bb_clusters)
       
bb_clusters

In [ ]:
## Results

In [251]:

#Cluster 1 for Athens
athens_merged.loc[athens_merged['Cluster Labels'] == 0, athens_merged.columns[[2] + list(range(5, athens_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,14578,0,Plaza,Sporting Goods Shop,Grilled Meat Restaurant,Greek Restaurant,Dog Run,Donut Shop,Electronics Store,Farmers Market
3,15122,0,Café,Bakery,Bar,Coffee Shop,Souvlaki Shop,Multiplex,Plaza,Gaming Cafe
5,15231,0,Gym / Fitness Center,Café,Bakery,Basketball Court,Burger Joint,Mobile Phone Shop,Coffee Shop,Furniture / Home Store
6,15235,0,Park,Plaza,Convenience Store,Japanese Restaurant,Farmers Market,Pharmacy,Flower Shop,Coffee Shop
7,15236,0,Pharmacy,Plaza,Grilled Meat Restaurant,Greek Restaurant,Yoga Studio,Souvlaki Shop,Meze Restaurant,Pizza Place
8,15237,0,Park,Plaza,Tennis Stadium,Stadium,Snack Place,French Restaurant,Dog Run,Donut Shop
9,15238,0,Cupcake Shop,Park,Racetrack,Farmers Market,Steakhouse,Dog Run,Yoga Studio,French Restaurant
10,15341,0,Bakery,Clothing Store,Bar,Pharmacy,Pizza Place,Cosmetics Shop,Café,Mobile Phone Shop

In [252]:
#Cluster 2 for Athens
athens_merged.loc[athens_merged['Cluster Labels'] == 1, athens_merged.columns[[2] + list(range(5, athens_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
1,14671,1,Dessert Shop,Bar,Nail Salon,Cocktail Bar,Italian Restaurant,Ice Cream Shop,Fire Station,Health & Beauty Service

In [253]:
#Cluster 3 for Athens
athens_merged.loc[athens_merged['Cluster Labels'] == 2, athens_merged.columns[[2] + list(range(5, athens_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
2,15121,2,Greek Restaurant,Bakery,Park,Café,Souvlaki Shop,Gym / Fitness Center,Grilled Meat Restaurant,Pool
4,15127,2,Souvlaki Shop,Bakery,Café,Pharmacy,Seafood Restaurant,Grilled Meat Restaurant,Grocery Store,Gym

In [254]:
#Cluster 1 for Thessaloniki
thessaloniki_merged.loc[thessaloniki_merged['Cluster Labels'] == 0, thessaloniki_merged.columns[[2] + list(range(5, thessaloniki_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
0,56121,0,Café,Bar,Mobile Phone Shop,Supermarket,Souvlaki Shop,Coffee Shop,Snack Place,Fast Food Restaurant
1,56122,0,Pub,Soccer Field,Plaza,Pier,Seafood Restaurant,Café,Supermarket,Fast Food Restaurant
2,56224,0,Bar,Café,Snack Place,Meze Restaurant,Fast Food Restaurant,Greek Restaurant,Bakery,Mobile Phone Shop
4,56429,0,Gym,Grilled Meat Restaurant,Bakery,Greek Restaurant,Basketball Court,Plaza,Café,Salon / Barbershop
5,56431,0,Café,Taverna,Bar,Fast Food Restaurant,Plaza,Snack Place,Coffee Shop,Mobile Phone Shop
6,56532,0,BBQ Joint,Gym / Fitness Center,Snack Place,Park,Pizza Place,Playground,Plaza,Café
8,56727,0,Café,Video Store,Gym,Electronics Store,Dessert Shop,Men's Store,Meze Restaurant,Mobile Phone Shop
9,57002,0,Bar,Pub,Greek Restaurant,Video Store,Grilled Meat Restaurant,Frozen Yogurt Shop,Fried Chicken Joint,Fish Taverna

In [255]:
#Cluster 2 for Thessaloniki
thessaloniki_merged.loc[thessaloniki_merged['Cluster Labels'] == 1, thessaloniki_merged.columns[[2] + list(range(5, thessaloniki_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
3,56334,1,Café,Supermarket,Coffee Shop,Fish Taverna,Jewelry Store,Meze Restaurant,Mobile Phone Shop,Electronics Store

In [256]:
#Cluster 3 for Thessaloniki
thessaloniki_merged.loc[thessaloniki_merged['Cluster Labels'] == 2, thessaloniki_merged.columns[[2] + list(range(5, thessaloniki_merged.shape[1]))]]

,PostCode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue
7,56625,2,Café,Gym,Bougatsa Shop,Theater,Supermarket,Restaurant,Beer Bar,Scenic Lookout